.idea/*
.vscode/*
os/target/*
os/.idea/*
os/src/linker.ld
os/last-*
os/Cargo.lock
os/kernel.asm
user/build
user/target/*
user/.idea/*
user/Cargo.lock
fat32_fs/target/*
fat32_fs/Cargo.lock
user/Cargo.lock
fat32-fuse/fs
fat32-fuse/fs.img
fat32-fuse/fat32.img
fat32-fuse/target/*
easy-fs/Cargo.lock
easy-fs/target/*
easy-fs-fuse/Cargo.lock
easy-fs-fuse/target/*
simple_fat32/Cargo.lock
simple_fat32/target/*
tools/
external_libs/fu740-hal/target/*
external_libs/fu740-pac/target/*
external_libs/k210-pac/target/*
external_libs/k210-hal/target/*
external_libs/k210-soc/target/*
os.bin
os.elf