.idea/*
.vscode/*
os/target/*
os/.idea/*
os/src/link_app.S
os/src/linker.ld
os/last-*
os/Cargo.lock
os/kernel.asm
user/build
user/target/*
user/.idea/*
user/Cargo.lock
fat32_fs/.cargo
fat32_fs/target/*
fat32_fs/Cargo.lock
user/Cargo.lock
fat32-fuse/fs
fat32-fuse/fs.img
simple_fat32/Cargo.lock
simple_fat32/target/*
tools/
pushall.sh
